@import 'tailwindcss';

@import 'tw-animate-css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@custom-variant dark (&:is(.dark *));

@theme {
    --font-sans:
        'Instrument Sans', ui-sans-serif, system-ui, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';

    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);

    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);

    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);

    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);

    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);

    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);

    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);

    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);

    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);

    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);

    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

:root {
    --background: #93b1a7;
    --foreground: #7a818d;
    --card: #ffffff;
    --card-foreground: #7a818d;
    --popover: #ffffff;
    --popover-foreground: #7a818d;
    --primary: #93b1a7;
    --primary-foreground: #ffffff;
    --secondary: #7a818d;
    --secondary-foreground: #ffffff;
    --muted: #7a818d;
    --text: #1b1b18;
    --muted-foreground: #99c2a2;
    --accent: #99c2a2;
    --accent-foreground: #ffffff;
    --destructive: #7a818d;
    --destructive-foreground: #ffffff;
    --border: #7a818d;
    --input: #7a818d;
    --ring: #93b1a7;

    --chart-1: #93b1a7;
    --chart-2: #7a818d;
    --chart-3: #99c2a2;
    --chart-4: #93b1a7;
    --chart-5: #7a818d;

    --radius: 0.625rem;

    --sidebar: #ffffff;
    --sidebar-foreground: #7a818d;
    --sidebar-primary: #93b1a7;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #99c2a2;
    --sidebar-accent-foreground: #ffffff;
    --sidebar-border: #7a818d;
    --sidebar-ring: #93b1a7;
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}
